
<link href="static/nfine/css/framework-font.css" rel="stylesheet" />
<link href="static/nfine/css/framework-theme.css" rel="stylesheet" />

<script src="static/nfine/js/jquery/jquery-2.1.1.min.js"></script>
<script src="static/nfine/js/bootstrap/bootstrap.js"></script>
<link href="static/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
 <!--
<script src="static/nfine/js/layout/jquery.layout.js"></script>
    
<script src="static/nfine/js/wdtree/tree.js"></script>
<link href="static/nfine/js/wdtree/tree.css" rel="stylesheet" />

<link href="static/nfine/js/select2/select2.min.css" rel="stylesheet" />
<script src="static/nfine/js/select2/select2.min.js"></script>

 <link href="static/nfine/js/wizard/wizard.css" rel="stylesheet" />
<script src="static/nfine/js/wizard/wizard.js"></script>

<script src="static/nfine/js/validate/jquery.validate.min.js"></script>
<script src="static/nfine/js/datepicker/WdatePicker.js"></script>
-->
<script src="static/nfine/js/jqgrid/jqgrid.min.js"></script>
<link href="static/nfine/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="static/nfine/js/jqgrid/grid.locale-cn.js"></script>

<link href="static/nfine/css/framework-ui.css" rel="stylesheet" />
<script src="static/nfine/js/framework-ui.js"></script>
<script src="static/nfine/js/indexsearch.js"></script>

<!-- <script src="static/nfine/js/jquery-ui/jquery-ui.min.js"></script>
<link href="static/nfine/js/jquery-ui/jquery-ui.min.css" rel="stylesheet" /> -->

